/**
 * @name Monokai Pro Ristretto
 * @author arschedev
 * @authorLink https://github.com/arschedev
 * @version 1.2.0
 * @description Ristretto Filtered Monokai Pro Theme
| Initial implementation: https://plugins.jetbrains.com/plugin/13643-monokai-pro-theme && https://monokai.pro
 * @source https://github.com/arschedev/BetterDiscord/tree/main/Themes/MonokaiProRistretto
 * @website https://github.com/arschedev
*/

/* Commit: MonokaiProRistretto-v1.2.0 */



/*! Customization */
:root,
.theme-dark,
.theme-light {


    /* Theme's default: 0px, 
       Discord's default - 4px */
    --theme-elements-borders:       0px;
    --theme-sidebar-pills-borders:  0px;


}












/*! Font */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');
html,
body {
    font-family: 'JetBrains Mono', monospace;
}


                            /*! ---====Root====--- */

:root,
.theme-dark,
.theme-light {
    /*! Theme */
    --theme-version:                                            "1.2.0";
    /*! Primary */
    --background-primary:                                       #2C2525;
    --background-secondary:                                     #211C1C;
    --background-secondary-alt:                                 #2D2A2E;
    --background-tertiary:                                      #191515;
    --background-accent:                                        #3B514D;
    --background-floating:                                      #2B2929;
    --header-primary:                                           #FFF1F3;
    --header-secondary:                                         #869198;
    /*! Messages & Text */
    --text-positive:                                            hsla(102, 60%, 38%, 1);
    --text-muted:                                               #FFF1F3;
    --text-normal:                                              #F9CC6C;
    --text-link:                                                #85DACC;
    --background-message-hover:                                 #352E2E;
    --background-mentioned:                                     rgba(75, 21, 21, .875);
    --background-mentioned-hover:                               rgba(91, 83, 83, .5);
    /*! Interface */
    --channeltextarea-background:                               #363337;
    --channels-default:                                         #FD6883;
    --interactive-normal:                                       #FD6883;
    --interactive-muted:                                        #869198;
    --interactive-active:                                       #FD6883;
    --interactive-hover:                                        #FD6883;
    --background-modifier-accent:                               #F9CC6C;
    --background-modifier-active:                               rgba(44, 37, 37,  1);
    --background-modifier-hover:                                rgba(53, 46, 46,  1);
    --background-modifier-selected:                             rgba(67, 62, 62, .7);
    --brand-experiment-560:                                     #3B514D;
    --brand-experiment-600:                                     #3B514D99;
    --activity-card-background:                                 #211C1C;
    --textbox-markdown-syntax:                                  #869198;
    /*! ScrollBar */
    --scrollbar-thin-thumb:                                     #403838;
    --scrollbar-auto-thumb:                                     #403838;
    --scrollbar-auto-scrollbar-color-thumb:                     #403838;
    --scrollbar-auto-track:                                     #2C2525;
    --scrollbar-auto-scrollbar-color-track:                     #2C2525;
    /*! Global Buttons */
    --brand-experiment-05a: #8988B90d;
    --brand-experiment-10a: #8988B91a;
    --brand-experiment-15a: #8988B926;
    --brand-experiment-20a: #8988B933;
    --brand-experiment-25a: #8988B940;
    --brand-experiment-35a: #8988B959;
    --brand-experiment-40a: #8988B966;
    --brand-experiment-45a: #8988B973;
    --brand-experiment-50a: #8988B980;
    --brand-experiment-55a: #8988B98c;
    --brand-experiment-60a: #8988B999;
    --brand-experiment-65a: #8988B9a6;
    --brand-experiment-70a: #8988B9b3;
    --brand-experiment-75a: #8988B9bf;
    --brand-experiment-80a: #8988B9cc;
    --brand-experiment-85a: #8988B9d9;
    --brand-experiment-90a: #8988B9ff;
    --brand-experiment-95a: #8988B98c;

    --brand-experiment-30a: hsla(272, 27%, 44%, 1);
    --brand-experiment:     hsla(241, 25%, 62%, .75);
}


                             /*! --==Transitions===-- */

:root,
.theme-dark,
.theme-light {
    --transition-in-longer: calc(.228866s * 2) ease-in-out;
    --transition-out-longer: calc(.3433s * 2) ease-in-out;
    --transition-in-long: calc(.228866s * 1.5) ease-in-out;
    --transition-out-long: calc(.3433s * 1.5) ease-in-out;
    --transition-in: calc(.228866s * 1) ease-in-out;
    --transition-out: calc(.3433s * 1) ease-in-out;
    --transition-in-medium: calc(.228866s / 1.5) ease-in-out;
    --transition-out-medium: calc(.3433s / 1.5) ease-in-out;
    --transition-in-short: calc(.228866s / 2) ease-in-out;
    --transition-out-short: calc(.3433s / 2) ease-in-out;
    --transition-in-short-x: calc(.228866s / 3) ease-in-out;
    --transition-out-short-x: calc(.3433s / 3) ease-in-out;
    --transition-in-short-xx: calc(.228866s / 4) ease-in-out;
    --transition-out-short-xx: calc(.3433s / 4) ease-in-out;
}


                            /*! ---====Styles=====--- */


/*! Font fix */
.status-3TYC5W {
    font-size: 80%;
}

/*! Sidebar Pills */
.pill-22lZHo > span,
.pill-2RsI5Q > span,
.pill-1NRFie > div > span,
.pill-L_aLMQ > span {
    border-radius: var(--theme-sidebar-pills-borders);
    background: #C3B7B8;
 }

/*! Code  */
/*Single */
.markup-eYLPri code {
    background-color:                                           #19181A;
}
/*Multiple */
.hljs {
    background-color:                                           #333333 !important;
    border: 1px solid #fff !important;
}

/*! Expanded Folder Background  */
.expandedFolderBackground-1kSAf6 {
    background-color:                                           var(--background-primary);
}
.expandedFolderIconWrapper-3RwQpD,
.expandedFolderIconWrapper-3RwQpD:hover {
    background-color:                                           var(--background-primary);
}

/*! Discover Title  */
h3.searchTitle-1qceKb.base-21yXnu.size24-17l95E {
    color:                                                      #FFF1F3
}

/*! Invite Message Box  */
.wrapper-1HIH0j.userSelectNone-3AtPzf.cursorDefault-2KkZ5q {
    background-color:                                           #211C1C;
}
.wrapper-1HIH0j.userSelectNone-3AtPzf.cursorDefault-2KkZ5q:hover {
    background-color:                                           #191515;
}

/*! Selection  */
::selection {
    background-color:                                           #3C83E6;
    color:                                                      #FFF1F3;
}

/*! Text Area */
.textarea-_59yqs:focus {
    background-color:                                           var(--background-secondary);
}
.textarea-_59yqs {
    background-color:                                           transparent;
    transition: background-color var(--transition-out-short);
}

/*! Reaction Icons  */
/*RClick Menu*/
.button-1zW0-r,
.button-1zW0-r:hover {
    background-color:                                           transparent;
}
/*Regular*/
*[class*="reactionMe"] { 
    background-color:                                           #FFF1F3 !important;
    filter: brightness(75%);
    transition: filter var(--transition-out-long) !important;
}
*[class*="reactionMe"]:hover { 
    filter: brightness(100%);
    transition: filter var(--transition-in-short-x) !important;
}
*[class*="reactionMe"] *[class*="reactionCount"] {
    color:                                                      #000000 !important;
    font-weight:                                                bold !important;
}

/*! Roles List */
.role-2TIOKu {
    background-color:                                           var(--background-secondary);
}

/*! Mentions */
/*All*/
.mention {
    color:                                                      #FFF1F3 !important;
    filter:                                                     brightness(100%);
    transition: filter var(--transition-out-short-x);
}
.mention:hover {
    color:                                                      #ffffff !important;
    filter:                                                     brightness(120%);
    transition: filter var(--transition-out-short-x);
    background-color: DONTCHANGE !important;
}
/*Channel*/
.iconMention-3WxjBe.iconMentionText-1_WCtN.mention {
    background-color:                                           hsla(169, 15%, 40%, 1);
}

/*! Jump to present Bar */
.jumpToPresentBar-1cEnH0 {
    background-color:                                           rgba(59, 81, 77, .9);
    transition: background-color var(--transition-out-short);
}
.jumpToPresentBar-1cEnH0:hover {
    background-color:                                           rgba(59, 81, 77, 1);
    transition: background-color var(--transition-in-medium);
}

/*! New Messages Bar */
.newMessagesBar-1hF-9G {
    background-color:                                           hsla(241, 25%, 62%, .8);
    transition: background-color var(--transition-out-short);
}
.newMessagesBar-1hF-9G:hover {
    background-color:                                           hsla(241, 25%, 62%, 1);
    transition: background-color var(--transition-in-medium);
}

/*! No Icon */
.noIcon-3gSX9V {
    background-color:                                           #7575a3;
    color:                                                      #FFF1F3;
}

/*! Drag & Drop Stuff */
.target-1eRTCg.dragOver-1OKbo2::before {
    background-color:                                           #8AC9FF;
}
.centerTarget-S6BLFQ.dragOver-1OKbo2::before {
    background-color:                                           #8AC9FF;
}
.containerDragAfter-3aBiOW::after,
.containerDragBefore-1s5Qg6::before,
.containerDragAfter-1J_-1V::before,
.containerDragBefore-ei4h1m::before {
    background-color:                                           #8AC9FF;
}

/*! Icon Badge */
.iconBadge-32fMme.participating-2Z81oO {
    background-color:                                           transparent;
}
.icon-2Ug6UV {
    color:                                                      #FD6883;
}

/*! Some Text & Buttons in Voice Calls, etc. */
.flex-2S1XBF.flex-3BkGQD.horizontal-112GEH.horizontal-1Piu5-.flex-3BkGQD.directionRow-2Iu2A9.justifyStart-2Mwniq.alignCenter-14kD11.noWrap-hBpHBz {
    font-weight: bold;
}
button.button-1EGGcP.buttonColor-3bP3fX.button-f2h6uQ.lookFilled-yCfaCM.colorBrand-I6CyqQ.sizeSmall-wU2dO-.grow-2sR_-F.button-1EGGcP {
    background-color:                                           hsla(247, 6%, 35%, 1);
}

/*! Header Primary Color */
.size24-17l95E {
    color:                                                      #3C83E6;
}

/*! Windows & Modals, e.g Change Log */
.modal-3Hrb0S {
    background-color:                                           var(--background-secondary) !important;
}
.theme-dark .footer-31IekZ,
.theme-light .footer-31IekZ {
    background-color:                                           var(--background-secondary-alt) !important;
}
.fullscreenOnMobile-ixj0e3 {
    background-color:                                           var(--background-secondary) !important;
}

/*! Spoilers */
/*Hidden */
.theme-dark .spoilerText-27bIiA.hidden-3B-Rum,
.theme-light .spoilerText-27bIiA.hidden-3B-Rum {
    background-color:                                           #565353;
    filter: brightness(140%);
    transition: filter var(--transition-out-medium);
    border: 2px dashed #000;
    border-radius: 0;
}
/* Hidden Hover */
.theme-dark .spoilerText-27bIiA.hidden-3B-Rum:hover,
.theme-light .spoilerText-27bIiA.hidden-3B-Rum:hover {
    background-color:                                           #565353;
    filter: brightness(175%);
    transition: filter var(--transition-in);
}
/*Opened */
.theme-dark .spoilerText-27bIiA,
.theme-light .spoilerText-27bIiA {
    background:                                                 #B8AEAF;
    color:                                                      #000000;
    transition: background var(--transition-out-short);
    border: 2px double #000;
    border-radius: 0;
}
/*Opened Hover*/
.theme-dark .spoilerText-27bIiA:hover,
.theme-light .spoilerText-27bIiA:hover {
    background:                                                 #E0D4D5;
    color:                                                      #000000;
    transition: background var(--transition-out-short-x);
}

/*! Green Buttons */
.lookFilled-yCfaCM.colorGreen-3y-Z79 {
    background-color:                                           hsla(102, 40%, 38%, 1);
}
.lookFilled-yCfaCM.colorGreen-3y-Z79:hover {
    background-color:                                           hsla(102, 40%, 38%, .75);
}
.lookFilled-yCfaCM.colorGreen-3y-Z79:active {
    background-color:                                           hsla(102, 40%, 38%, .5);
}

/*! Grey Buttons */
.theme-dark .lookFilled-yCfaCM.colorGrey-2iAG-B,
.theme-light .lookFilled-yCfaCM.colorGrey-2iAG-B {
    background-color:                                           rgba(119, 129, 135, 1);
}
.theme-dark .lookFilled-yCfaCM.colorGrey-2iAG-B:hover,
.theme-light .lookFilled-yCfaCM.colorGrey-2iAG-B:hover {
    background-color:                                           rgba(119, 129, 135, .75);
}
.theme-dark .lookFilled-yCfaCM.colorGrey-2iAG-B:active,
.theme-light .lookFilled-yCfaCM.colorGrey-2iAG-B:active {
    background-color:                                           rgba(119, 129, 135, .5);
}

/*! Primary Buttons */
.theme-dark .lookFilled-yCfaCM.colorPrimary-2AuQVo,
.theme-light .lookFilled-yCfaCM.colorPrimary-2AuQVo {
    background-color:                                           rgba(119, 129, 135, 1);
}
.theme-dark .lookFilled-yCfaCM.colorPrimary-2AuQVo:hover,
.theme-light .lookFilled-yCfaCM.colorPrimary-2AuQVo:hover {
    background-color:                                           rgba(119, 129, 135, .75);
}
.theme-dark .lookFilled-yCfaCM.colorPrimary-2AuQVo:active,
.theme-light .lookFilled-yCfaCM.colorPrimary-2AuQVo:active {
    background-color:                                           rgba(119, 129, 135, .5);
}

/*! Blue Buttons */
.lookFilled-yCfaCM.colorBrand-I6CyqQ {
    background-color:                                           rgba(137, 136, 185, .5);
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover {
    background-color:                                           rgba(137, 136, 185, .375);
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ:active {
    background-color:                                           rgba(137, 136, 185, .25);
}

/*! User Info Stroke */
.tabBarContainer-sCZC4w {
    border-bottom: 0;
}

.tabBarItem-30Te4-.item-3XjbnG.themed-2-lozF:hover {
    border-bottom-color:                                        rgba(253, 104, 131, .5);
}

.tabBarItem-30Te4-.item-3XjbnG.themed-2-lozF:active {
    border-bottom-color:                                        rgba(253, 104, 131, .375);
}

.selected-g-kMVV.item-3XjbnG,
.selected-g-kMVV.item-3XjbnG:hover {
    border-bottom-color:                                        rgba(253, 104, 131, 1) !important;
    cursor: pointer;
}

/*! Search Bar */
/*Left*/
.searchBar-3TnChZ .searchBarComponent-3N7dCG {
    color:                                                      var(--text-link);
    filter: brightness(100%);
    transition: filter var(--transition-out-medium);
}
.searchBar-3TnChZ .searchBarComponent-3N7dCG:hover {
    color:                                                      var(--text-link);
    filter: brightness(120%);
    transition: filter var(--transition-in-short);
}
/*Right*/
.searchBar-jGtisZ {
    background:                                                 transparent;
}
.resultsGroup-cfY57t {
    background:                                                 #2B2929;
}
/*.option-ayUoaq {
    <!---OUTDATED v1.1.0 -> v1.2.0--->
    border-radius\: 3px 0 0 3px !important;
}*/
.theme-dark .option-ayUoaq::after,
.theme-light .option-ayUoaq::after {
    background:                                                 #2B2929;
    background-color:                                           #2B2929;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
}
.theme-dark .option-ayUoaq:hover::after,
.theme-light .option-ayUoaq:hover::after {
    background:                                                 linear-gradient(90deg, rgba(54,57,63,0), #2B2929 80%);
}
.option-ayUoaq:hover .answer-14OVbQ {
    color:                                                      var(--text-muted);
}
.theme-dark .option-ayUoaq:hover,
.theme-light .option-ayUoaq:hover {
    background:                                                 var(--brand-experiment-560);
    background-color:                                           var(--brand-experiment-560);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
}

/*! Friend List */
.peopleColumn-1wMU14 {
    background:                                                 #333030;
}
.peopleListItem-u6dGxF:hover {
    background:                                                 var(--background-secondary);
}

/*! Left Navigation Bar */
.scroller-3X7KbA.none-2-_0dP.scrollerBase-_bVAAt {
    padding-bottom: 42px;
    border: 1px solid transparent;
    border-radius: 0px 360px 0px 360px;
    margin-top: 22px;
    margin-bottom: 55px;
}
.scroller-3X7KbA.none-2-_0dP.scrollerBase-_bVAAt > div[aria-label="Servers"] {
    margin-top: 12px;
}

/*! Messages' Beckgrounds & :hover */
/*Default*/
.message-2CShn3.cozyMessage-1DWF9U.groupStart-3Mlgv1.wrapper-30-Nkg.cozy-VmLDNB.zalgo-26OfGz:not(.mentioned-Tre-dv) {
    background:                                                 var(--background-primary);
    transition: background var(--transition-out-short-x);
}
.message-2CShn3.cozyMessage-1DWF9U.groupStart-3Mlgv1.wrapper-30-Nkg.cozy-VmLDNB.zalgo-26OfGz:not(.mentioned-Tre-dv):hover {
    background:                                                 var(--background-message-hover);
    transition: background var(--transition-in-short-x);
}
.message-2CShn3.cozyMessage-1DWF9U.wrapper-30-Nkg.cozy-VmLDNB.zalgo-26OfGz:not(.mentioned-Tre-dv) {
    background:                                                 var(--background-primary);
    transition: background var(--transition-out-short-x);
}
.message-2CShn3.cozyMessage-1DWF9U.wrapper-30-Nkg.cozy-VmLDNB.zalgo-26OfGz:not(.mentioned-Tre-dv):hover {
    background:                                                 var(--background-message-hover);
    transition: background var(--transition-in-short-x);
}
/*Mentioned*/
.message-2CShn3.cozyMessage-1DWF9U.groupStart-3Mlgv1.wrapper-30-Nkg.cozy-VmLDNB.zalgo-26OfGz.mentioned-Tre-dv {
    background:                                                 var(--background-mentioned);
    transition: background var(--transition-out-short-x);
}
                /*Static Mention Properties*/
.message-2CShn3.cozyMessage-1DWF9U.groupStart-3Mlgv1.wrapper-30-Nkg.cozy-VmLDNB.zalgo-26OfGz.mentioned-Tre-dv .mention {
    color:                                                      #FFF1F3 !important;
    filter:                                                     brightness(100%);
    transition: filter var(--transition-out-short-x);
}
.message-2CShn3.cozyMessage-1DWF9U.groupStart-3Mlgv1.wrapper-30-Nkg.cozy-VmLDNB.zalgo-26OfGz.mentioned-Tre-dv:hover {
    background:                                                 var(--background-mentioned-hover);
    transition: background var(--transition-in-short-x);
}
                /*Hover Mention Properties*/
.message-2CShn3.cozyMessage-1DWF9U.groupStart-3Mlgv1.wrapper-30-Nkg.cozy-VmLDNB.zalgo-26OfGz.mentioned-Tre-dv:hover .mention {
    color:                                                      #ffffff;
    filter:                                                     brightness(120%);
    transition: filter var(--transition-in-short-x);
}
.message-2CShn3.cozyMessage-1DWF9U.wrapper-30-Nkg.cozy-VmLDNB.zalgo-26OfGz.mentioned-Tre-dv {
    background:                                                 var(--background-mentioned);
    transition: background var(--transition-out-short-x);
}
                /*Static Mention Properties*/
.message-2CShn3.cozyMessage-1DWF9U.wrapper-30-Nkg.cozy-VmLDNB.zalgo-26OfGz.mentioned-Tre-dv .mention {
    color:                                                      #FFF1F3 !important;
    filter:                                                     brightness(100%);
    transition: filter var(--transition-out-short-x);
}
.message-2CShn3.cozyMessage-1DWF9U.wrapper-30-Nkg.cozy-VmLDNB.zalgo-26OfGz.mentioned-Tre-dv:hover {
    background:                                                 var(--background-mentioned-hover);
    transition: background var(--transition-in-short-x);
}
                /*Hover Mention Properties*/
.message-2CShn3.cozyMessage-1DWF9U.wrapper-30-Nkg.cozy-VmLDNB.zalgo-26OfGz.mentioned-Tre-dv:hover .mention {
    color:                                                      #ffffff;
    filter:                                                     brightness(120%);
    transition: filter var(--transition-in-short-x);
}

/*! Buttons Strikethrough */
.strikethrough-2Kl6HF {
    color:                                                      var(--interative-normal);
}

/*! Interactive Buttons Stuff */
/*Global*/
.expression-picker-chat-input-button.buttonContainer-2lnNiN .contents-3ca1mk.button-2fCJ0o.button-3BaQ4X {
    color:                                                      #FD6883;
    transition: color var(--transition-out-short-x);
}
.expression-picker-chat-input-button.buttonContainer-2lnNiN:hover .contents-3ca1mk.button-2fCJ0o.button-3BaQ4X {
    color:                                                      #FFF1F3;
    transition: color var(--transition-in-short);
}
.active-z80xEj .buttonWrapper-3YFQGJ,
.buttonWrapper-3YFQGJ:hover {
    color:                                                      #FFF1F3;
    transition: color var(--transition-in-short);
}
button.button-f2h6uQ.lookBlank-21BCro.colorBrand-I6CyqQ.grow-2sR_-F > div.contents-3ca1mk.button-2fCJ0o.button-3BaQ4X > div.buttonWrapper-3YFQGJ[id="children"] > svg[viewBox="0 0 24 24"]:hover {
    color:                                                      #FD6883;
}
/*Status picker*/
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_),
.colorDefault-CDqZdO.focused-3qFvc8,
.colorDefault-CDqZdO.focused-3qFvc8:active {
    color: #FD6883;
}

/*! RClick Menu */
.item-1OdjEX.labelContainer-2vJzYL.colorDefault-CDqZdO:not(.colorDanger-3n-KnP) {
    color:                                                      #FFF1F3;
}

/*! Nickname :hover */
.applicationName-19i3lP.clickable-31pE3P:hover,
.commandName-1KhvGm.clickable-31pE3P:hover,
.username-h_Y3Us.clickable-31pE3P:hover {
    color:                                                      #C1C0C0;
    text-decoration: none;
}

/*! Avatar :hover */
.container-YkUktl,
.avatar-1EWyVD {
    filter: opacity(1);
    transition: filter var(--transition-out);
}
.avatar-1EWyVD:hover {
    opacity: 1;
    filter: opacity(.75);
    transition: filter var(--transition-in);
}

/*! Icons: Add, Explore */
.circleIconButton-1VxDrg.selected-2r1Hvo {
    background-color:                                           #FFF1F3;
    color:                                                      #FD6883;
}
.circleIconButton-1VxDrg {
    color:                                                      #FD6883;
    background-color:                                           var(--background-tertiary);
}
.container-1Lk8p7 {
    background-color:                                           var(--background-primary);
}
.theme-light .footer-31IekZ {
    background-color:                                           var(--background-primary);
}
.footer-31IekZ > button.lookBlank-21BCro > div {
    color:                                                      #ffffff;
}

/*! Timestamps */
.timestamp-6-ptG3 {
    color:                                                      #000000;
}

/*! Home Button (Discord Logo) */
/* Static */
.wrapper-3kah-n[role="listitem"] > div.childWrapper-1j_1ub {
    color:                                                      #3C83E6;
    background-color:                                           transparent;
    transition: color var(--transition-out);
}
/* Hover */
.wrapper-3kah-n[role="listitem"] > div.childWrapper-1j_1ub:hover {
    color:                                                      var(--background-modifier-accent);
    background-color:                                           transparent;
    transition: color var(--transition-in);
}
/* Selected */
.wrapper-3kah-n.selected-1Drb7Z[role="listitem"] > div.childWrapper-1j_1ub {
    color:                                                      var(--background-modifier-accent);
    background-color:                                           transparent;
    transition: color var(--transition-in);
}

/*! Sidebar Icons */
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub,
.wrapper-3kah-n:hover .childWrapper-1j_1ub {
    color:                                                      #FFF1F3;
    background-color:                                           #7575a3;
    transition: background-color var(--transition-in);
}
.childWrapper-1j_1ub.acronym-2zrAHN {
    color:                                                      #FFF1F3;
    background:                                                 #8988B9cc;
    transition: background-color var(--transition-out-short);
}
.childWrapper-1j_1ub.button-Jt-tIg {
    font-size: 9px;
    color:                                                      #FD6883;
    background:                                                 transparent;
    font-weight:                                                initial;
}
.childWrapper-1j_1ub.button-Jt-tIg:hover {
    font-size: 8.9px;
    color:                                                      #FD6883;
    background:                                                 #FFF1F3;
    font-weight:                                                bold;
}

/*! Discord Title */
.wordmarkWindows-2dq6rw > svg {
  width: 0;
}
.wordmarkWindows-2dq6rw::after {
  content: '';
  display: inline-block;
  -webkit-mask-image: url('https://raw.githubusercontent.com/arschedev/BetterDiscord/main/Themes/MonokaiProRistretto/discord.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  background-color:                                             #FFF1F3;
  position: absolute;
  margin-left: -5px;
  margin-top: 1px;
  width: 57px !important;
  height: 14px !important;
}

/*! Info */
.info-3pQQBb:last-child::after {
  content: "\00000a\00000a======================\00000aTheme:\00000aMonokai Pro Ristretto\00000aVersion " var(--theme-version) "\00000aby @arschedev /\00000a / arschedev#3951 \00000aBottom Text\00000a======================\00000a";
  text-transform: none;
  white-space: pre;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  color:                                                        #000000;
}

.info-3pQQBb:last-child {
    background-position: 0% 129%;
    background-repeat: no-repeat;
    background-image: url('/assets/ac4bcb496ca349a21b05e400bd8ac5dc.svg');
}

/*! End !*/


                            /*! --===SettingsModal===-- */

/*  Some parts of the code below belongs to DevilBro (Mirco Wittrien, https://github.com/mwittrien)
    And was taken from the BetterDiscord theme "Settings Modal" (https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/SettingsModal);
    The taken code was reformatted and modified by @arschedev.    */

@media screen and (min-width: 1040px) {
    /*! Variables */
    :root,
    .theme-dark,
    .theme-light {
        --settingsModal-background:                                 transparent;
        --settingsModal-width:                                      1274px;
        --settingsModal-height:                                     67vh;
    }

    @media screen and (max-width: 1314px) {
        :root,
        .theme-dark,
        .theme-light {
            --settingsModal-width: 83vw;
        }
    }

    /*! Modals */
    #app-mount .baseLayer-W6S8cY {
        opacity: 1 !important;
        transform: unset !important;
        will-change: unset !important;
    }

    #app-mount .stop-animations * {
        transition-property: inherit !important;
        animation: inherit !important;
    }

    #app-mount .layer-86YKbF.stop-animations:first-child::after {
        content: "" !important;
        position: fixed !important;
        background:                                                 rgb(0, 0, 0) !important;
        top: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
        opacity: 0.85 !important;
        z-index: 999 !important;
        pointer-events: none !important;
    }

    #app-mount .layer-86YKbF ~ .layer-86YKbF {
        position: absolute !important;
        top: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        background: var(--settingsModal-background) !important;
        border-radius: var(--theme-elements-borders) !important;
        box-shadow: var(--elevation-high) !important;
        width: var(--settingsModal-width) !important;
        height: var(--settingsModal-height) !important;
        margin: auto !important;
        padding: 0 !important;
        overflow: hidden !important;
        contain: unset !important;
        z-index: 1000 !important;
    }

    #app-mount .layer-86YKbF ~ .layer-86YKbF > div,
    #app-mount .layer-86YKbF ~ .layer-86YKbF .standardSidebarView-E9Pc3j {
        position: static !important;
        border-radius: unset !important;
        width: 100% !important;
        height: 100% !important;
        margin: unset !important;
        padding: unset !important;
        overflow: hidden !important;
    }

    #app-mount .layer-86YKbF ~ .layer-86YKbF .sidebar-nqHbhN {
        width: 218px !important;
        padding: 20px 6px 20px 20px !important;
    }

    #app-mount .layer-86YKbF ~ .layer-86YKbF .contentColumnDefault-3eyv5o {
        padding: 20px 40px !important;
    }

    #app-mount .layer-86YKbF ~ .layer-86YKbF .sidebar-3K3Z4C {
        height: var(--settingsModal-height) !important;
    }

    #app-mount .layer-86YKbF ~ .layer-86YKbF .repoHeader-2KfNvH {
        max-width: calc(var(--settingsModal-width) - 256px) !important;
    }

    #app-mount .layer-86YKbF ~ .layer-86YKbF .standardSidebarView-E9Pc3j .editor {
        height: calc(var(--settingsModal-height) - 120px) !important;
    }

    #app-mount .layer-86YKbF ~ .layer-86YKbF .toolsContainer-25FL6V,
    #app-mount .layer-86YKbF ~ .layer-86YKbF .toolsContainer-25FL6V .tools-kIrEGr,
    #app-mount .layer-86YKbF ~ .layer-86YKbF .toolsContainer-25FL6V .container-O54IuJ,
    #app-mount .layer-86YKbF ~ .layer-86YKbF .toolsContainer-25FL6V .closeButton-PCZcma {
        position: absolute !important;
        top: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        background: transparent !important;
        border: none !important;
        border-radius: 0 !important;
        width: 100% !important;
        max-width: unset !important;
        height: 100% !important;
        max-height: unset !important;
        margin: 0 !important;
        padding: 0 !important;
        opacity: 0 !important;
        cursor: default !important;
    }

    #app-mount .layer-86YKbF ~ .layer-86YKbF .toolsContainer-25FL6V {
        position: fixed !important;
        top: 22px !important;
        z-index: -1 !important;
    }

    #app-mount .layer-86YKbF ~ .layer-86YKbF .settingsToolbar-wu4yfQ {
        display: none !important;
    }

    #app-mount .layer-86YKbF ~ .layer-86YKbF .header-2Kx1US {
        max-width: calc(var(--settingsModal-width) - 730px) !important;
    }
}

/*! End !*/


                            /*! --===Customization===-- */

/*! Button Borders */
/* 4px is default */
.tooltip-14MtrL,
.contentWrapper-3vHNP2,
.userPopout-2j1gM4,
.container-2McqkF,
.menu-1QACrS,
div[role="menuitem"],
div[role="option"],
div[role="tab"],
button,
input[type="button"],
input[type="reset"],
input[type="search"],
input[type="submit"] {
    border-radius: var(--theme-elements-borders) !important;
}


                            /*! --===Smoothness===-- */

*:not(.option-ayUoaq), *:not(.option-ayUoaq)::after, *:not(.option-ayUoaq)::before {
    background-color: DONTCHANGE;
    transition: background-color var(--transition-out-short-xx);
}
*:not(.option-ayUoaq):hover, *:not(.option-ayUoaq):hover::after, *:not(.option-ayUoaq):hover::after {      
    background-color: DONTCHANGE;
    transition: background-color var(--transition-in-short-xx);
}